{% extends 'base.html.twig' %}

{% block title %}Réservez votre table - Le quai antique{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mt-4">Réservez votre table</h1>
        {{ form(form) }}
        
    </div>
{% endblock %}
  