{% extends "base.html.twig" %}
{% block header %}
	{% include 'partials/_header.html.twig' %}
{% endblock %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}
<div class="form-container">
    <h2 class="h2-title">Modification de mon mot de passe</h2>

     {% for message in app.flashes('warning') %}
        <div class="alert alert-warning mt-4">
            {{ message }}
        </div>
    {% endfor %}

    {{ form(form) }}

</div>
{% endblock %}