{% extends "base.html.twig" %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="form-container">
        <h2 class="h2-title">Inscription</h2>
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}